.navbar {
  height: 80px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  /* border-bottom: 1px solid rgb(87, 85, 85);; */
}

.toggle-group {
  height: 40px;
  margin-top: 20px;
}

.dark .toggle-group {
  background-color: white;
}
.dark {
  background-color: #222222;
  color: #fff;
}

.dark .new-card {
  background-color: #222222;
  color: #fff;
}

.dark .centered-div {
  box-shadow: 2px 2px 2px 2px rgb(180, 176, 176);
  -webkit-box-shadow: 0 2px 4px rgb(180, 176, 176);
  box-shadow: 0 0 3px rgb(180, 176, 176);
}
.dark .create-container {
  box-shadow: 2px 2px 2px 2px rgb(180, 176, 176);
  -webkit-box-shadow: 0 2px 4px rgb(180, 176, 176);
  box-shadow: 0 0 3px rgb(180, 176, 176);
}
.dark .navbar {
  background-color: #222222;
  color: #fff;
}
.dark .new-card {
  box-shadow: 2px 2px 2px 2px rgb(180, 176, 176);
  -webkit-box-shadow: 0 2px 4px rgb(180, 176, 176);
  box-shadow: 0 0 3px rgb(180, 176, 176);
}

.dark .list-item {
  box-shadow: 2px 2px 2px 2px rgb(180, 176, 176);
  -webkit-box-shadow: 0 2px 4px rgb(180, 176, 176);
  box-shadow: 0 0 3px rgb(180, 176, 176);
}

.dark .loc-img {
  content: url("./darkImages/location.png");
}
.dark .cal-img {
  content: url("./darkImages/date.png");
}
.dark .info-img {
  content: url("./darkImages/description.png");
}
.dark .tab-name {
  color: #fff;
}
.dark .popup {
  background-color: #222222;
}

.light {
  background-color: #fff;
  color: #333;
}
.logo {
  height: 32px;
  width: 99;
  margin-left: 36px;
}

.UpComing-create {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.create-button {
  height: 40px;
  width: 100px;
  margin: 16px 36px 16px 16px;
  background-color: #e23f2e;
  border: none;
  border-radius: 4px;
  color: white;
  font-family: "GeneralSans-Medium";
  src: url("../public/fonts/GeneralSans-Medium.ttf") format("truetype");
  cursor: pointer;
}

.nav-link {
  height: 18px;
  width: 50px;
  margin-right: 36px;
  margin-left: 20px;
  color: #888888;
  font-family: "GeneralSans-Semibold";
  src: url("../public/fonts/GeneralSans-Bold.ttf") format("truetype");
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.02em;
}

.signedName {
  display: flex;
  flex-direction: column;
  margin-top: -23px;
}

.home-title {
  font-family: "GeneralSans-bold";
  src: url("../public/fonts/GeneralSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-left: 36px;
  margin-bottom: -20px;
}

/*----------------Card------------------------*/
.card-outer > div {
  /* flex: 1;
  justify-content: center;
  flex-direction: r; */
}

.card-outer {
  /* display: flex;
  flex-direction: column; */
  /* height: 350px; */
  /* background-color: #FFFFFF; */
  /* width: 270px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 4px 4px 4px 4px rgba(0.1, 0.1, 0.1, 0.1);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin-top: 26px; */
}

.card-content {
  margin-top: -20px;
}

.margin-just {
  margin-top: 25px;
  margin-left: 35px;
  margin-bottom: 20px;
}

.hi {
  margin: 0;
}
.new-card {
}
.card-container {
  /* position: relative; */
  display: flex;
  flex-wrap: wrap;
}
.card-img > img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  /* bottom: 10px; */
  border-radius: 4px 4px 4px 4px;
  /* position: relative; */
}

.left-div {
  /* background-color: red; */
}

.home-body {
  /* margin-left: 10px; */
}
.home-body > div {
  margin-bottom: 100px;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.event-date {
  color: #e23f2e;
}
.card-title {
  position: relative;
  align-items: center;
  top: 15px;
  /* background-color: red; */
  left: 10px;
}

.shabara {
  width: 50px;
  position: relative;
  left: 15px;
  /* bottom: 21px; */
}

.card-header {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: red; */
  height: 60px;
}

.event-loc {
  font-family: "GeneralSans-Semibold";
  src: url("../public/fonts/GeneralSans-Bold.ttf") format("truetype");
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: horizontal;
}

.loc {
  /* display: -webkit-box;
  -webkit-line-clamp: 1; */
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: horizontal; */
  /* text-overflow: ellipsis; */
  /* overflow: hidden;
  border: none; */
  /* opacity: 1; */
}

.event-detail {
  /* background-color: #e23f2e; */
  margin: 5px 0px 5px 0px;
  font-family: "GeneralSans-Medium";
  src: url("../public/fonts/GeneralSans-Medium.ttf") format("truetype");
}

.event-title {
  padding-top: 5px;
  font-family: "GeneralSans-bold";
  src: url("../public/fonts/GeneralSans-Bold.ttf") format("truetype");
}

.tooltip {
  opacity: 1;
  visibility: visible;
}

.type-add {
  width: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.event-desc {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #888888;
  font-family: "GeneralSans-Medium";
  src: url("../public/fonts/GeneralSans-Medium.ttf") format("truetype");
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.01em;
  margin-top: 10px;
}

.box-container {
  position: relative;
  width: 100%;
}
.box {
  /* position: absolute; */
  /* background-color: #e23f2e;
  left: 55%;
  bottom: 100px;
  right: 10px;
  height: 34px;
  width: 90px;
  border-radius: 4px; */
  /* width: 50px;
        height: 0;
        border-top: -20px solid #e23f2e;
        border-bottom: 20px solid #e23f2e;
        border-bottom: 15px solid transparent;
        float: right;
        margin-bottom: 20px;
        font-size: 17px;
        font-weight:700;
        position: absolute;
        right: 13px;
        bottom: 70px; */
}

.bookmark {
  width: 55px;
  height: 50px;
  position: absolute;
  bottom: 155px;
  left: 180px;
}

.bookmark-content {
  position: relative;
  left: 29px;
  color: white;
  bottom: 63px;
}

/* .box-content {
  position: absolute;
  bottom: -12px;
  left: 20px;
  color: white;
  font-family: "GeneralSans-Semibold";
  src: url("../public/fonts/GeneralSans-Bold.ttf") format("truetype");
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.01em;
} */

.detail-logos {
  width: 15px;
  height: 15px;
  margin-top: 23px;
  margin-right: 10px;
}

.inner-detail {
  height: 40px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* margin-top: -40px; */
}
.event-detail > div > .inner-detail {
  display: flex;
  flex-direction: row;
}

.info-logo {
  width: 15px;
  height: 15px;
  margin-top: 15px;
  margin-right: 10px;
}

/* --------Slider---------- */
.slider-container {
  margin-bottom: 20px;
  position: relative;
}

.popup-details {
  margin-right: 30px;
  margin-left: 30px;
  /* margin-bottom: 5px; */
  margin-top: -30px;
  color: #888888;
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: -20px;
  font-family: "GeneralSans-Bold";
  src: url("../public/fonts/GeneralSans-Bold.ttf") format("truetype");
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.popup-title {
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: -20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "GeneralSans-Bold";
  src: url("../public/fonts/GeneralSans-Bold.ttf") format("truetype");
}

.popup-title > h3 {
  margin-top: -5px;
}
.popup-title > button {
  height: 30px;
  width: 70px;
  margin-top: -5px;
  background-color: white;
  border-color: #f6f6f6;
  border-style: double;
  border-radius: 4px;
  border-width: 1.5px;
  font-family: "GeneralSans-Bold";
  src: url("../public/fonts/GeneralSans-Bold.ttf") format("truetype");
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.popup-title > button:hover {
  background-color: #222;
  color: white;
}
.comment {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: -15px;
}

.comment .h5 {
  position: relative;
  bottom: 20px;
  font-family: "GeneralSans-Bold";
  src: url("../public/fonts/GeneralSans-Bold.ttf") format("truetype");
}

/*--------------------Mode toggle button----------------*/

.toggleWrapper {
  /* padding-right: 20px; */
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* overflow: hidden;
  padding: 0 200px; */
  /* transform: translate3d(-50%, -50%, 0); */
}
.toggleWrapper input {
  position: absolute;
  left: -99em;
}
.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 70px;
  height: 30px;
  background-color: #83d8ff;
  border-radius: 84px;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.toggle:before {
  position: absolute;
  left: -50px;
  top: 15px;
  font-size: 18px;
}
.toggle:after {
  position: absolute;
  right: -48px;
  top: 15px;
  font-size: 18px;
  color: #749ed7;
}
.toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: #ffcf96;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}
.toggle__handler .crater {
  position: absolute;
  background-color: #e8cda5;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  border-radius: 100%;
}
.toggle__handler .crater--1 {
  /* top: 18px;
  left: 10px; */
  width: 4px;
  height: 4px;
}
.toggle__handler .crater--2 {
  /* top: 28px; */
  /* left: 22px; */
  width: 6px;
  height: 6px;
}
.toggle__handler .crater--3 {
  /* top: 10px;
  left: 25px; */
  width: 8px;
  height: 8px;
}
.star {
  position: absolute;
  background-color: #fff;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}
.star--1 {
  top: 10px;
  left: 35px;
  z-index: 0;
  width: 30px;
  height: 3px;
}
.star--2 {
  top: 18px;
  left: 28px;
  z-index: 1;
  width: 30px;
  height: 3px;
}
/* .star--3 {
  top: 23px;
  left: 40px;
  z-index: 0;
  width: 30px;
  height: 3px;
} */
.star--4,
.star--5,
.star--6 {
  opacity: 0;
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.star--4 {
  top: 16px;
  left: 11px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}
.star--5 {
  top: 32px;
  left: 17px;
  z-index: 0;
  width: 3px;
  height: 3px;
  transform: translate3d(3px, 0, 0);
}
.star--6 {
  top: 36px;
  left: 28px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}
input:checked + .toggle {
  background-color: #749dd6;
}
input:checked + .toggle:before {
  color: #749ed7;
}
input:checked + .toggle:after {
  color: #fff;
}
input:checked + .toggle .toggle__handler {
  background-color: #ffe5b5;
  transform: translate3d(40px, 0, 0) rotate(0);
}
input:checked + .toggle .toggle__handler .crater {
  opacity: 1;
}
input:checked + .toggle .star--1 {
  width: 2px;
  height: 2px;
}
input:checked + .toggle .star--2 {
  width: 4px;
  height: 4px;
  transform: translate3d(-5px, 0, 0);
}
input:checked + .toggle .star--3 {
  width: 2px;
  height: 2px;
  transform: translate3d(-7px, 0, 0);
}
input:checked + .toggle .star--4,
input:checked + .toggle .star--5,
input:checked + .toggle .star--6 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
input:checked + .toggle .star--4 {
  transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
input:checked + .toggle .star--5 {
  transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
input:checked + .toggle .star--6 {
  transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/*-----------------------------------------------*/
.rating {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.popup-desc {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: -30px;
  color: #666666;
  font-size: 14px;
  letter-spacing: 0em;
  text-align: left;
  font-family: "GeneralSans-Regular";
  src: url("../public/fonts/GeneralSans-Regular.ttf") format("truetype");
}
.comment-area {
  border-radius: 2px;
  margin-top: -10px;
  resize: none;
  width: 436px;
  height: 50px;
  background-color: #f6f6f6;
  padding: 10px;
}

.comment > button {
  margin-top: 10px;
  height: 30px;
  width: 70px;
  color: white;
  background-color: #e23f2e;
  border-color: #f6f6f6;
  border-style: double;
  border-radius: 4px;
  border-width: 1.5px;
  font-family: "GeneralSans-Regular";
  src: url("../public/fonts/GeneralSans-Regular.ttf") format("truetype");
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.comment > button:hover {
  background-color: #222;
  color: white;
}

/*------------SignUp----------------*/

.signup > .centered-div {
  width: 400px;
  height: 430px;
  margin-top: 9%;
}
.centered-div {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  left: 35%;
  margin-top: 10%;
  /* background-color: lightblue; */
  /* display: table-cell;  */
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 2px 2px 2px 2px rgba(0.1, 0.1, 0.1, 0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.sign-wraper {
  height: 400px;
  width: 400px;
  display: table;
  /* display: flex;
  flex-direction: column; */
}

.MuiTextField-root {
  background-color: #f6f6f6;
  border: none;
  width: 200px;
}

.sign-inputs {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: "GeneralSans-Regular";
  src: url("../public/fonts/GeneralSans-Regular.ttf") format("truetype");
}

.sign-title {
  position: absolute;
  left: 35%;
  margin-right: 280px;
  margin-top: 60px;
  font-family: "GeneralSans-Bold";
  src: url("../public/fonts/GeneralSans-Bold.ttf") format("truetype");
}

.signup-inputs {
  vertical-align: middle;
  font-family: "GeneralSans-Regular";
  src: url("../public/fonts/GeneralSans-Regular.ttf") format("truetype");
  margin-top: 10px;
}

.sign-button {
  background-color: #e23f2e; /* Green */
  margin-top: 8px;
  border: none;
  color: white;
  height: 50px;
  width: 234px;
  border-radius: 4px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
  font-family: "GeneralSans-Regular";
  src: url("../public/fonts/GeneralSans-Regular.ttf") format("truetype");
}

.sign-link {
  color: #e23f2e;
  text-decoration: none;
  font-family: "GeneralSans-Regular";
  src: url("../public/fonts/GeneralSans-Regular.ttf") format("truetype");
}

a {
  text-decoration: none;
  cursor: pointer;
}

/*-----------Create Event Page------------*/

.create-title {
  margin-left: 345px;
  margin-bottom: 100px;
}
.create-container {
  width: 600px;
  height: 450px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 27%;
  margin-top: 6%;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 2px 2px 2px 2px rgba(0.1, 0.1, 0.1, 0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.create-box {
  /* height: 400px; */
  /* width: 720px; */
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  /* margin-bottom: 70px; */
  /* display: table; */
  /* background-color: #e23f2e; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.event-f {
  width: 240px;
  font-family: "GeneralSans-Regular";
  src: url("../public/fonts/GeneralSans-Regular.ttf") format("truetype");
}

.event-f-d {
  width: 520px;
  margin-top: 5px;
  height: 70px;
}

.create-page-btn {
  margin-top: 17px;
  width: 200px;
  height: 50px;
  background-color: #e23f2e;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

#file {
}

/*-----------------Joined Button Fireworks-------------------*/
/* body {
  font-size: 16px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-align: center;
  background-color: #f8faff;
} */
/* .bubbly-button {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ff0081;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
} */
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before,
.bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #e23f2e 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #e23f2e 20%, transparent 30%),
    radial-gradient(circle, #e23f2e 20%, transparent 20%),
    radial-gradient(circle, #e23f2e 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #e23f2e 15%, transparent 20%),
    radial-gradient(circle, #e23f2e 20%, transparent 20%),
    radial-gradient(circle, #e23f2e 20%, transparent 20%),
    radial-gradient(circle, #e23f2e 20%, transparent 20%),
    radial-gradient(circle, #e23f2e 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #e23f2e 20%, transparent 20%),
    radial-gradient(circle, #e23f2e 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #e23f2e 15%, transparent 20%),
    radial-gradient(circle, #e23f2e 20%, transparent 20%),
    radial-gradient(circle, #e23f2e 20%, transparent 20%),
    radial-gradient(circle, #e23f2e 20%, transparent 20%),
    radial-gradient(circle, #e23f2e 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: #e60074;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

/*-----------------List Items-------------------*/

.list-item {
  border-radius: 4px;
  margin: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.item-inlist {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.imges-inlist {
  border-radius: 4px;
  width: 150px;
  height: 120px;
  margin: 10px;
}
